.idea/
*.iml
*.log
**/target
logs/
workflowui.port
gsi-server/versicherte.gesundheitsid.pruefziffern.fixed.json

./.gitignore
automation/
doc/intern/
checkCertValidity.sh
executeCT.sh
insertClaimFamiliyName.sh
mvnverify.sh
output.json
runTestsuite-local.sh
runTestsuite-hotdeploy.sh
runTestsuite-verimi.sh
runTestsuite-barmer-tu.sh
runTestsuite-tsy-tu.sh
runTestsuite-ibm.sh
runTestsuite-ibm-tu2.sh
runTestsuite-rise-tu.sh
runTestsuite-ru.sh
runTestsuite-gsi.sh
runTestsuite-gsi-ref.sh
runTestsuite-btm-tu.sh
removeDockerImages.sh
verifyCopyrightHeaderExistsInFiles.sh
what_would_jenkins_do.bat
gsi-server/doc/intern/
gra-server/src/main/resources/application-github.yml
gsi-server/src/main/resources/certs/gsi-token-sig.p12
gsi-server/src/main/resources/certs_trusted/sig_d_atos.pem
gsi-server/src/main/resources/keys/gsi-es-sig-privkey.pem
gsi-server/src/main/java/de/gematik/idp/gsi/server/data/KvnrPruefziffer.java
gsi-server/src/main/java/de/gematik/idp/gsi/server/tools/VersicherteImporter.java
gsi-server/src/test/java/de/gematik/idp/gsi/server/controller/FedIdpControllerNoMocksTest.java
gsi-server/src/test/java/de/gematik/idp/gsi/server/data/KvnrPruefzifferTest.java
gsi-server/src/test/java/de/gematik/idp/gsi/server/data/KvnrRectifyTest.java
gsi-server/src/test/java/de/gematik/idp/gsi/server/tools/VersicherteImporterTest.java
gsi-testsuite/tiger.yaml
gsi-testsuite/tiger-local-IdpDebug.yaml
gsi-testsuite/tc_properties-local.yaml
gsi-testsuite/tiger-gsi.yaml
gsi-testsuite/tc_properties-gsi.yaml
gsi-testsuite/tiger-gsi-ref.yaml
gsi-testsuite/tc_properties-gsi-ref.yaml
gsi-testsuite/tiger-hotdeploy.yaml
gsi-testsuite/tc_properties-hotdeploy.yaml
gsi-testsuite/tiger-verimi.yaml
gsi-testsuite/tiger-barmer-tu.yaml
gsi-testsuite/tiger-jenkins.yaml
gsi-testsuite/tc_properties-verimi.yaml
gsi-testsuite/tc_properties-barmer-tu.yaml
gsi-testsuite/tiger-ibm-tu.yaml
gsi-testsuite/tiger-ibm-tu2.yaml
gsi-testsuite/tc_properties-ibm-tu.yaml
gsi-testsuite/tc_properties-ibm-tu2.yaml
gsi-testsuite/tiger-rise-tu.yaml
gsi-testsuite/tiger-btm-tu.yaml
gsi-testsuite/tiger-ru.yaml
gsi-testsuite/tc_properties-rise-tu.yaml
gsi-testsuite/tc_properties-btm-tu.yaml
gsi-testsuite/tc_properties-ru.yaml
gsi-testsuite/tiger-tsy-tu.yaml
gsi-testsuite/tc_properties-tsy-tu.yaml
gsi-testsuite/src/test/resources/certs/fachdienst-tls-c.p12
gsi-testsuite/src/test/resources/certs/fachdienst-tls-c-rotation.p12
gsi-testsuite/src/test/resources/certs/ru_client.p12
gsi-testsuite/src/test/resources/certs/fachdienst-enc_expired_but_we_are_fine.p12
gsi-testsuite/src/test/resources/manuell
docker-compose-base.yml
docker-compose-deployHot.yml
docker-compose-deployLocal.yml
docker-compose-deployLTU_DEV.yml
checkLicenses.sh

